RewriteEngine On
RewriteRule ^bandes-dessinees/?$ /index.php?controller=product&method=listing [L]
RewriteRule ^bande-dessinee/([0-9]+)/?$ /index.php?controller=product&method=detail&id=$1 [L]
RewriteRule ^back-office/login/?$ /index.php?controller=admin&method=login  [L]
RewriteRule ^back-office/?$ /admin.php  [L]

